<!---->
<div class="flex justify-evenly bg-white py-3 text-sm font-semibold px-14 shadow-sm shadow-gray-300">
    <a class="hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" class="h-16 w-16" alt="">
        <span>Top Offers</span>
    </a>
    <a class="hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" class="h-16 w-16" alt="">
        <span>Grocery</span>
    </a>
    <a class="hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" class="h-16 w-16" alt="">
        <span>Mobiles</span>
    </a>
    <a class="group hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" class="h-16 w-16" alt="">
        <div class="flex">
            <span class="pr-1">Fashion</span>
        <svg
        class="fill-current mt-2 h-2 w-2 transform -rotate-90 group-hover:rotate-90 transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 27">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"/>
        </svg>
        </div>   
    </a>
    <a class="group hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" class="h-16 w-16" alt="">
        <div class="flex">
            <span class="pr-1">Electronics</span>
        <svg
        class="fill-current mt-2 h-2 w-2 transform -rotate-90 group-hover:rotate-90 transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 27">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"/>
        </svg>
        </div> 
    </a>
    <a class="group hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" class="h-16 w-16" alt="">
        <div class="flex">
            <span class="pr-1">Home</span>
        <svg
        class="fill-current mt-2 h-2 w-2 transform -rotate-90 group-hover:rotate-90 transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 27">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"/>
        </svg>
        </div> 
    </a>
    <a class="group hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" class="h-16 w-16" alt="">
        <div class="flex">
            <span class="pr-1">Appliances</span>
        <svg
        class="fill-current mt-2 h-2 w-2 transform -rotate-90 group-hover:rotate-90 transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 27">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"/>
        </svg>
        </div> 
    </a>
    <a class="hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100" class="h-16 w-16" alt="">
        <span>Travel</span>
    </a>
    <a class="group hover:text-blue-600">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" class="h-16 w-16" alt="">
        <div class="flex">
            <span class="pr-1">Beauty, Toys & More</span>
        <svg
        class="fill-current mt-2 h-2 w-2 transform -rotate-90 group-hover:rotate-90 transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 27">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"/>
        </svg>
        </div> 
    </a>
</div>

<!--Image animation-->
<div class="flex justify-between m-2 h-64 bg-slate-800 items-center">
    
    <div class="bg-white h-28 w-12 flex justify-center items-center rounded-r-md">
        <svg width="14.6" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class=""><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#000" class=""></path></svg>
    </div>
 
    
    <div class="bg-white h-28 w-12 flex justify-center items-center rounded-l-md">
        <svg width="14.6" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="rotate-180"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#000" class=""></path></svg>
    </div>

</div>

<img class="m-2" alt="Moto G71 Launching today" srcset="https://rukminim1.flixcart.com/flap/3376/560/image/0a1de02fb7c774bd.jpg?q=50 2x, https://rukminim1.flixcart.com/flap/1688/280/image/0a1de02fb7c774bd.jpg?q=50 1x" src="https://rukminim1.flixcart.com/flap/1688/280/image/0a1de02fb7c774bd.jpg?q=50" data-tkid="M_97920b4c-5293-435f-a7c3-07f3e1388e48_3.UU9U145GZEFH">

<img class="m-2" alt="Apple Switcher" srcset="https://rukminim1.flixcart.com/flap/3376/560/image/a8f51ae07ffc4d67.jpg?q=50 2x, https://rukminim1.flixcart.com/flap/1688/280/image/a8f51ae07ffc4d67.jpg?q=50 1x" src="https://rukminim1.flixcart.com/flap/1688/280/image/a8f51ae07ffc4d67.jpg?q=50" data-tkid="M_e8a38eb2-1da5-495d-8f27-49d6dc8b5834_3.IUHXQVQJLXGE">